<!-- ===== IMAGE MODAL ===== -->
<div class="modal fade image-modal" id="imageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
        <i class="bi bi-x-lg"></i>
      </button>
      <div class="modal-body">
        <img id="modalImage" src="" alt="Gambar" />
      </div>
      <div class="modal-footer">
        <div class="text-center w-100">
          <p class="modal-title-text" id="modalTitle">Judul</p>
          <p class="modal-desc-text" id="modalDesc">Deskripsi</p>
        </div>
      </div>
    </div>
  </div>
</div>