<!-- ===== CERTIFICATES ===== -->
<section id="certificates">
  <div class="container">
    <div class="row text-center" data-aos="fade-up">
      <div class="col">
        <h2 class="section-title">Sertifikat <span class="highlight">Profesional</span></h2>
        <p class="section-subtitle">Sertifikasi dan pengakuan dari berbagai institusi</p>
      </div>
    </div>
    <div class="row g-4">
      <!-- Certificate 1 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat.jpg', 'Sertifikat Keychron K2', 'Sertifikasi profesional dalam metodologi pengajaran modern')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat.jpg" alt="Sertifikat Keychron K2" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Keychron K2</h5>
            <p class="card-text">Sertifikasi profesional dalam metodologi pengajaran modern.</p>
          </div>
        </div>
      </div>
      <!-- Certificate 2 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat1.jpg', 'Sertifikat Womier RGB', 'Pelatihan lanjutan dalam integrasi teknologi pendidikan')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat1.jpg" alt="Sertifikat Womier RGB" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Womier RGB</h5>
            <p class="card-text">Pelatihan lanjutan dalam integrasi teknologi pendidikan.</p>
          </div>
        </div>
      </div>
      <!-- Certificate 3 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat2.png', 'Sertifikat Red Dragon', 'Kepemimpinan dan manajemen di pendidikan tinggi')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat2.png" alt="Sertifikat Red Dragon" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Red Dragon</h5>
            <p class="card-text">Kepemimpinan dan manajemen di pendidikan tinggi.</p>
          </div>
        </div>
      </div>
      <!-- Certificate 4 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat3.png', 'Sertifikat Metodologi Penelitian', 'Pelatihan khusus dalam metodologi penelitian')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat3.png" alt="Sertifikat Metodologi Penelitian" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Red Dragon</h5>
            <p class="card-text">Pelatihan khusus dalam metodologi penelitian.</p>
          </div>
        </div>
      </div>
      <!-- Certificate 5 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="250">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat4.jpeg', 'Sertifikat Literasi Digital', 'Sertifikasi literasi digital dan pendidikan online')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat4.jpeg" alt="Sertifikat Literasi Digital" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Red Dragon</h5>
            <p class="card-text">Literasi digital dan sertifikasi pendidikan online.</p>
          </div>
        </div>
      </div>
      <!-- Certificate 6 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="350">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat5.jpeg', 'Sertifikat Komunikasi', 'Keunggulan dalam komunikasi dan berbicara di depan umum')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat5.jpeg" alt="Sertifikat Komunikasi" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Red Dragon</h5>
            <p class="card-text">Keunggulan dalam komunikasi dan berbicara di depan umum.</p>
          </div>
        </div>
      </div>
      <!-- Certificate 7 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat6.jpeg', 'Sertifikat Pengembangan Profesi', 'Pengembangan profesional dalam bidang pendidikan')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat6.jpeg" alt="Sertifikat Pengembangan Profesi" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Red Dragon</h5>
            <p class="card-text">Pengembangan profesional dalam bidang pendidikan.</p>
          </div>
        </div>
      </div>
      <!-- Certificate 8 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="450">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat7.jpeg', 'Sertifikat Manajemen Pendidikan', 'Manajemen dan kepemimpinan pendidikan')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat7.jpeg" alt="Sertifikat Manajemen Pendidikan" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Red Dragon</h5>
            <p class="card-text">Manajemen dan kepemimpinan pendidikan.</p>
          </div>
        </div>
      </div>
      <!-- Certificate 9 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="500">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat8.jpeg', 'Sertifikat Teknologi Pendidikan', 'Integrasi teknologi dalam pembelajaran')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat8.jpeg" alt="Sertifikat Teknologi Pendidikan" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Red Dragon</h5>
            <p class="card-text">Integrasi teknologi dalam pembelajaran.</p>
          </div>
        </div>
      </div>
      <!-- Certificate 10 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="550">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat9.jpeg', 'Sertifikat Kurikulum', 'Pengembangan kurikulum dan evaluasi pembelajaran')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat9.jpeg" alt="Sertifikat Kurikulum" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <!-- Certificate 11 -->
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="550">
        <div class="cert-card" onclick="openImageModal('img/sertifikat/sertifikat11.jpg', 'Top 3 Terbaik', 'Bootcamp Google Certified Educator Level 1 Kabupaten Ende')">
          <div class="cert-img-wrapper">
            <img src="img/sertifikat/sertifikat11.jpg" alt="Top 3 Terbaik" />
            <div class="cert-overlay">
              <i class="bi bi-search-plus"></i>
              <span>Klik untuk perbesar</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Red Dragon</h5>
            <p class="card-text">Pengembangan kurikulum dan evaluasi pembelajaran.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
